body{
    background: #F8F8F8;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

#logo {
    height: 150px;
    margin: 20px;
}

#btn-purple {
    background: #9839C5;
    border-radius: 6px;
    margin-left: 10px;
    color: #FFFFFF;
}

#filter {
    top: 100px;
}

.menu-img {
    height: 35px;
}

.nav-text {
    font-size: 14px;
    color: black;
}

.pages {
    background-color: #F9E7FF;
    padding-top: 65px;
}

.img-search {
    height: 20px;
}

.filter {
    padding: 10px;
}

.post {
    background-color: white;
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.post-title {
    font-weight: bold;
    color: #420062;
}

.post-title:hover{
    font-weight: bold;
    color: #420062;
}

.img-posts{
    border-radius: 5px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.post-tags{
    text-transform: capitalize;
    margin-top: 20px;
    border-radius: 10px;
}

.post-tags::before{
    content: "Tags: ";
}
